header#display-user {
  position: relative;
  top: 120px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  background-image: url("../images/crissxcross.png");
}
