.tweet-button {
  background-color: #4056a1;
  color: white;
  font-family: "Bungee", cursive;
  font-size: 80%;
  padding: 0 1%;
  border: none;
}

.tweet-text {
  outline: none;
  background-color: inherit;
  border: none;
  border-bottom: 5px solid #5e6572;
  width: 100%;
  resize: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: "Bungee", cursive;
}
